<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Referral</title>
  <%- include("partials/_seo"); -%>
  <!--  -->
  <script defer src="/JS/copy.js"></script>
</head>

<body class="bg-offWhite text-xs md:text-sm xl:text-base main">
  <%- include("partials/_header", { userName: user.fullName }); -%>
  <%- include("partials/_userSidebar", { page: currentPage }); -%>

  <div class="flex justify-between items-center p-4">
    <p class="font-bold text-lightBlack text-lg md:text-xl lg:text-2xl xl:text-3xl">Referral</p>
    <p class="font-bold text-xl md:text-2xl xl:text-3xl">$<%= referralBalance.toLocaleString() %></p>
  </div>

  <p class="mx-4 mt-10 text-[#020100]">Earn upto <span class="font-bold text-accentGreen text-sm md:text-base xl:text-lg">5%</span> on referral deposit</p>
  <div class="flex sm:flex-row flex-col gap-y-5 sm:gap-x-10 sm:gap-y-0 px-4">
    <div class="px-4 py-3 border border-[#545458A6] rounded-lg">
      <p id="referral-link">https://www.pinnacleasset.org/create?ref=<%= user.username %></p>
    </div>
    <button onclick="copy('referral-link')" class="flex justify-center items-center bg-darkGreen hover:bg-accentGreen px-4 py-3 rounded-lg text-white hover:text-lightBlack duration-300">
      <i class="text-2xl ph-copy ph-fill"></i>
      Copy link
    </button>
  </div>
  <section class="p-4">
    <div class="bg-[#FFFFFF] mt-6 p-4 border border-[#767680] border-opacity-10 rounded-2xl">
      <h2 class="mb-4 font-bold text-lightBlack text-sm md:text-base xl:text-lg">Your Referrals</h2>

      <div class="h-96 overflow-y-auto">
        <% if (referrals.length === 0) { %>
        <p class="text-red-600 text-xs sm:text-sm md:text-base">No Referral Yet.</p>
        <% } else { %>
        <% referrals.forEach(referral => { %>
        <div class="flex justify-between items-center py-4 border-[#7676801F] border-b">
          <div class="flex items-center gap-x-2">
            <i class="text-primaryGreen text-4xl ph-fill ph-user-circle-check"></i>
            <div>
              <p><%= referral.User.fullName %></p>
              <p class="-mt-1 text-[#667085] text-[10px] md:text-xs xl:text-sm"><%= referral.User.email %></p>
            </div>
          </div>
          <p class="bg-[#E6F5EE] px-4 py-1 rounded-3xl text-[#026C3C]">Active</p>
        </div>
        <% }) %>
        <% } %>
      </div>
    </div>
  </section>
</body>

</html>